.preloader
  p.preloader__text!=preloader.data.title.replace(/\n/g, '<br>')
  //- p.preloader__text!=preloader.data.title.replace(/\n/g,' <br>')
  //- p.preloader__text Oladimeji <br> Shopeyin

  .preloader__number
    .preloader__number__text 0%

