.preloader{
  @extend %cover;
  background: $color-contessa;
  color: $color-white;
  align-items: center;
  display:flex;
  justify-content: center;
  text-align: center;


  z-index:z('preloader')

}
.preloader__text{

max-width: 66rem;
font-size: 0;

span{
  display: inline-block;
  overflow: hidden;
}

span span{
  @extend %title-53;
}
}
.preloader__number{
  @extend %description-14;
  position: absolute;
  bottom: 7.3rem;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);


  @include media('<phone') {
   font-size: 2rem;
  }
}

.preloader__number__text{
 display: inline-block
}
